body{
    font-family: 'Lato', sans-serif !important;
    line-height: 2em !important;
}
.figure-font{
    letter-spacing: 1px !important;
}
.img{
    margin-right: 1em;
}

.tech{
    margin-top: 1em;
}
.figure-margin{
    margin: 1em;
}

.social-media{
    font-size: 1.25em;
    color: #6c757d;
    text-decoration: none !important;
}

